@charset "UTF-8";
/*
* Static color-palette
* Starter palette taken from https://www.nordtheme.com/
*/

$color-bright-3: #e5e9f0;
$color-bright-2: #e5e9f0;
$color-bright-1: #d8dee9;

$color-mid-4: #5e81ac;
$color-mid-3: #81a1c1;
$color-mid-2: #88c0d0;
$color-mid-1: #8fbcbb;

$color-lilac: #b48ead;
$color-green: #a3be8c;
$color-yellow: #ebcb8b;
$color-orange: #d08770;
$color-red: #bf616a;

$color-dark-4: #4c566a;
$color-dark-3: #434c5e;
$color-dark-2: #3b4252;
$color-dark-1: #2e3440;

$color-accent-hue-degree: 180deg;
$color-accent-2: scale-color(
                saturate(adjust-hue($color-dark-4, $color-accent-hue-degree), 100%),
        $lightness: 65%
);
$color-accent-1: scale-color(
                saturate(adjust-hue($color-dark-4, $color-accent-hue-degree), 100%),
        $lightness: 35%
);
/*
* Automatic palette-generation via Sass
* If you use this, don't forget to comment out the static palette above
* You can set the generation-variables for adjusting the results
*/
// $color-base: #7b93c2;
// $color-bright-lightness-scale: 50%;
// $color-mid-dark-lightness-scale: -50%;
// $color-dark-lightness-scale: -77.5%;
// $color-dark-desaturate-level: 15%;
// $color-accent-hue-degree: 180deg;

// $color-bright: scale-color(
//   $color-base,
//   $lightness: $color-bright-lightness-scale
// );
// $color-mid-bright: $color-base;
// $color-mid-dark: scale-color(
//   $color-base,
//   $lightness: $color-mid-dark-lightness-scale
// );
// $color-dark: desaturate(
//   scale-color($color-base, $lightness: $color-dark-lightness-scale),
//   $color-dark-desaturate-level
// );
// $accent-color: scale-color(
//   saturate(adjust-hue($color-mid-dark, $color-accent-hue-degree), 100%),
//   $lightness: 35%
// );
