@charset "UTF-8";
@import 'variables';
@import 'uni-space';
@import 'mixins';

// Animation 'hover'
@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    @include boxShadow($y: $space-m);
    -webkit-transform: translateY(calc(#{$space-m} * -1));
    transform: translateY(calc(#{$space-m} * -1));
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    @include boxShadow($y: $space-xs);
    -webkit-transform: translateY(calc(#{$space-xs} * -1));
    transform: translateY(calc(#{$space-xs} * -1));
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

// Animation 'spin'
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(365deg);
    transform: rotate(365deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(365deg);
    transform: rotate(365deg);
  }
}

// Animation - speechBubble
@-webkit-keyframes speechBubble {
  from {
    border-radius: 25% 75% 36% 64% / 65% 37% 63% 35%;
  }
  to {
    border-radius: 52% 48% 49% 51% / 60% 54% 46% 40%;
  }
}
@keyframes speechBubble {
  from {
    border-radius: 25% 75% 36% 64% / 65% 37% 63% 35%;
  }
  to {
    border-radius: 52% 48% 49% 51% / 60% 54% 46% 40%;
  }
}
