@charset "UTF-8";
/*
* Definition of all breakpoints
* Mixin for using media-queries
*/

$breakpoints: (
        'xs': 320px,
        's': 414px,
        'm': 768px,
        'l': 1024px,
        'xl': 1440px,
        'xxl': 2048px,
        'xxxl': 3440px,
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

/*
* Mixin for browser specific styles
* Source & Usage: http://aslanbakan.com/en/blog/browser-and-device-specific-css-styles-with-sass-and-less-mixins/
* JS: document.documentElement.setAttribute("data-browser", navigator.userAgent);
*/
@mixin browser($browsers: Mozilla) {
  @each $browser in $browsers {
    html[data-browser*='#{$browser}'] & {
      @content;
    }
  }
}
