@charset "UTF-8";
/*
* uni-space
* Unified spacing for all elements
* With a base and expansion value, for dynamic adjustments
 */
$space: 1rem;
$space-expansion: 1;

$space-xxs: calc((#{$space} / 8) * #{$space-expansion});
$space-xs: calc((#{$space} / 4) * #{$space-expansion});
$space-s: calc((#{$space} / 2) * #{$space-expansion});
$space-m: calc(#{$space} * #{$space-expansion});
$space-l: calc((#{$space} * 2) * #{$space-expansion});
$space-xl: calc((#{$space} * 4) * #{$space-expansion});
$space-xxl: calc((#{$space} * 8) * #{$space-expansion});
