@import 'uni-space';
@import 'colors';

// Header
$header-height: 50px;

// Border-radius
$border-radius: 0.5rem;

// Transition
$trans-fast: 0.25s;
$trans-normal: 0.5s;
$trans-slow: 0.75s;
