@import '../../../styles/allVars';

.Welcome {
  @include boxShadow($color: $color-dark-1);
  @include flex(column nowrap, space-between, flex-start, flex-start);

  background: $color-bright-3;
  color: $color-dark-3;
  margin: $space-m;
  padding: $space-l;
  border-radius: $border-radius;
  transition: all 0.3s ease;

  @include mq('m') {
    padding: $space-xl;
    margin: $space-l auto;
    max-width: 500px;
  }

  &:hover {
    @include boxShadow($color: $color-dark-1, $y: 4px);
    transform: translateY(-4px);
  }

  &__header {
    margin-top: 0;
    font-size: $font-size-xl;

    @include mq('s') {
      font-size: $font-size-xxl;
    }
  }

  &__author {
    margin-top: $space-m;
    width: 100%;
    text-align: center;
  }
}
